[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
ipykernel = "*"

[packages]
pandas = "*"
python-dotenv = "*"
requests = "*"
numpy = "*"
cufflinks = "*"
plotly = "*"
fastapi = "*"
gunicorn = "==19.9.0"
h11 = "==0.8.1"
httptools = "==0.0.13"
pydantic = "*"
uvicorn = "==0.9.0"
uvloop = "==0.13.0"
websockets = "==8.0.2"
jinja2 = "*"
inflect = "*"

[requires]
python_version = "3.7"
